In [16]:
from sklearn.metrics.pairwise import cosine_similarity
from sentence_transformers import SentenceTransformer, util
import pandas as pd
from ast import literal_eval

In [17]:
df = pd.read_csv('peliculas.csv')

def concatenar_lista(listas):
    lista = literal_eval(listas)
    return ' '.join(lista)

def string_tolist(lista):
    lista = literal_eval(lista)
    return lista

In [20]:
df['Keywords'] = df['Plot Kyeword'].apply(concatenar_lista)
df['Stars'] = df['Top 5 Casts'].apply(concatenar_lista)
df['generos_pelis'] = df['Generes'].apply(concatenar_lista)
df['texo'] = df.apply(lambda x: str(x['Overview'])+' '+str(x['Keywords'])+' '+str(x['Stars'])+' '+str(x['generos_pelis']) , axis=1)
df.head(2)

,movie title,Run Time,Rating,User Rating,Generes,Overview,Plot Kyeword,Director,Top 5 Casts,Writer,year,path,Keywords,Stars,generos_pelis,texo
0,Top Gun: Maverick,"$170,000,000 (estimated)",8.6,187K,"['Action', 'Drama']",After more than thirty years of service as one...,"['fighter jet', 'sequel', 'u.s. navy', 'fighte...",Joseph Kosinski,"['Jack Epps Jr.', 'Peter Craig', 'Tom Cruise',...",Jim Cash,-2022,/title/tt1745960/,fighter jet sequel u.s. navy fighter aircraft ...,Jack Epps Jr. Peter Craig Tom Cruise Jennifer ...,Action Drama,After more than thirty years of service as one...
1,Jurassic World Dominion,2 hours 27 minutes,6,56K,"['Action', 'Adventure', 'Sci-Fi']",Four years after the destruction of Isla Nubla...,"['dinosaur', 'jurassic park', 'tyrannosaurus r...",Colin Trevorrow,"['Colin Trevorrow', 'Derek Connolly', 'Chris P...",Emily Carmichael,-2022,/title/tt8041270/,dinosaur jurassic park tyrannosaurus rex veloc...,Colin Trevorrow Derek Connolly Chris Pratt Bry...,Action Adventure Sci-Fi,Four years after the destruction of Isla Nubla...